@media (min-width : 768px) {
    .navbar-xs {
        min-height    : 40px;
        height        : 40px;
        margin-bottom : 0;
    }

    .navbar-xs .navbar-brand {
        padding     : 6px 18px;
        font-size   : 20px;
        line-height : 40px;
    }

    .navbar-xs .navbar-nav > li > a {
        padding-top    : 0;
        padding-bottom : 0;
        line-height    : 40px;
    }
}

li.break:after {
    content : '|';
}

li.break {
    padding : 10px 0;
    color   : #9d9d9d;
}