.home-image > img {
    padding : 25px;
}

.btn-header {
    border-radius      : 0;
    color              : #227fb7;
    font-weight        : 700;
    font-size          : 1.5em;
    border-top-style   : none;
    border-right-style : none;
    border-bottom      : 4px solid #227fb7;
    border-left-style  : none;
    padding            : 12px 23px;
}
